<!--{% load static %}-->
<!--<header>-->
<!--  <center>-->
<!--<img src="{% static 'img/banner.png' %}" alt="our products" width="1250px;">-->
<!--  </center>-->

<!--</header>-->

<!--    <img src="{% static 'img/logo.png' %}" alt="logoimage">-->
<!--<style>-->
<!--img {-->

<!--height: 400px;-->
<!-- background-size: cover;-->
<!--background-position: center;-->

<!--}-->
<!--</style>-->
<header>
<div id=“logo” align="center"><a href="{%url 'shop:allProdCat' %}"> <img src="{% static 'img/logo.png' %}" alt="logoimage" width="160px;" height="160px;" ></a>
</div>
  </header>